# Server Configuration
MEDIA_SERVER_PORT=3345

# External APIs
GITHUB_RELEASE_API=https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest
RYD_API_URL=https://returnyoutubedislikeapi.com/votes?videoId=

# App Security & Secrets
# YOUR_API_KEY=your_key_here
